$primary-color-light: #ffffff;
$primary-color-dark: #212121;
$primary-color: #f30134;
$accent-color: #959595;

$primary-text-color:   #212121;
$secondary-text-color: #738090;
$primary-text-color-light: #ffffff;

$divider-color:  #738090;
$accent-divider-color: #e20937;

$success-color: #26910d;
$attention-color:#e20937;
$label-color: rgba(226,9,55,0.5);

$accent-font: Lato-Black;
$primary-font: Lato-Regular;
$secondary-font: Lato-light;
